/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

/* Global Styles - colour choices*/

:root {
    --primary-color: #A98DE5;
    --secondary-color: #EBD3B0;
    --primary-heading: #E5564E;
    --secondary-heading: #C9EB34;
    --highlight-color: #191CEA;
    --primary-text: #333;
    --secondary-text: #FFF;

}

